<div data-controller="edit-owner">
  <%= render 'carousel' %>
</div>
<div class="information" style="background-image: url('<%= image_path 'cats-bg.png' %>')">
  <div class="d-flex avatar-container">
    <div class="avatar" data-controller="edit-cat">
      <%= render 'avatar_form' %>
    </div>
  </div>
  <div class="forms-edit">
    <div class="info_card">
      <div class="cat-info-form" data-controller="edit-cat">
        <%= render 'cat_info_form' %>
      </div>
      <div class="owner-info-form" data-controller="edit-owner">
        <%= render 'owner_info_form' %>
      </div>
    </div>
  </div>

  <div class="pic-cards">
    <% @user.photos.each do |photo| %>
      <div class="pic-card border p-3 overflow-hidden">
        <%= cl_image_tag photo.key, class:"rounded" %>
      </div>
    <% end %>
    <div class="pic-card border d-flex justify-content-start" data-controller="edit-owner">
      <%= render 'photos_form' %>
    </div>
  </div>
</div>

<style>
body {
  background-color: #F1EDE4 !important;
}
</style>
