<div class="container">

  <div class="carousel banner">
    <% if @user.photos.present? %>
      <% @user.photo.key.each_with_index do |photo, index| %>
      <input type="radio" id="carousel-<%= index + 1 %>" name="carousel[]" <%= index == 0? "checked" : "" %>>

      <ul class="carousel__items">
        <li class="carousel_item"><% cl_image_tag user.photo.key %></li>
      </ul>
      <div class="carousel__prev">
        <label for="carousel-<%= index + 1 %>"></label>
      </div>
      <div class="carousel__next">
        <label for="carousel-<%= index + 1 %>"></label>
      </div>
      <div class="carousel__nav">
        <label for="carousel-<%= index + 1 %>"></label>
      </div>
      <% end %>
    <% else %>
      <%= image_tag("no-photo.jpg") %>
    <% end %>
  </div>

  <div class="d-flex avatar-container">
    <div class="avatar">
      <%= form_for @user do |f| %>
        <label for="user_avatar">
          <% if @user.avatar.key.present? %>
            <%= cl_image_tag @user.avatar.key %>
          <% else %>
            <i class="fas fa-cat" title="Upload the profile picture"></i>
          <% end %>
        </label>
        <%= f.file_field :avatar, accept: 'image/png,image/jpeg' %>
    <% end %>
    </div>

    <div id="heart">
      <i class="fas fa-duotone fa-heart"></i>
    </div>
  </div>
  <div class="form-row">
    <%= render 'cat_info_form' %>
    <%= render 'owner_info_form' %>

  </div>

</div>
