<div class="p-3 msgs-container">
  <div class="container">
    <% if @approved_chats.empty? && @pending_incoming_chats.empty? && @pending_sent_chats.empty?%>
      <h1 class="chats-header text-center my-5">You don't have any match yet...</h1>
      <div class="msgs-index-none">
        <%= link_to "Meet new friends!", users_path, class: "btn" %>
      </div>
    <% else %>
      <h1 class="chats-header">It's a match!</h1>
      <div class="msgs-index">
        <div class="chats">
          <% unless @approved_chats.empty? %>
          <% if Message.unread_by(current_user).count > 1 %>
            <h1>unread messages</h1>
          <% end %>
            <p class="chats-paragraph">Chats</p>
            <% @approved_chats.each do |chatroom|%>
              <% if current_user.id == chatroom.engager_id %>
                <%= link_to chatroom_path(chatroom) do %>
                  <div class="card-product my-2">
                    <% if chatroom.receiver.avatar.key.present? %>
                      <%= cl_image_tag chatroom.receiver.avatar.key, alt: 'Avatar', class: 'avatar_pic', height: 160, width: 160, crop: :fill %>
                    <% else %>
                      <%= image_tag("no-pic-cat.png", height: 160, width: 160, crop: :fill ) %>
                    <% end %>
                    <div class="card-product-infos">
                      <h2>Have a chat with <%= chatroom.receiver.name.nil? ? "Unknown Cat": chatroom.receiver.name %> </h2>
                    </div>
                    <% if chatroom.messages.unread_by(current_user).count > 0 %>
                      <h1>unread messages: <%= chatroom.messages.unread_by(current_user).count %> </h1>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <%= link_to chatroom_path(chatroom) do %>
                  <div class="card-product my-2">
                    <% if chatroom.engager.avatar.key.present? %>
                      <%= cl_image_tag chatroom.engager.avatar.key, alt: 'Avatar', class: 'avatar_pic', height: 160, width: 160, crop: :fill %>
                    <% else %>
                      <%= image_tag("no-pic-cat.png", height: 160, width: 160, crop: :fill ) %>
                    <% end %>
                    <div class="card-product-infos">
                      <h2>Have a chat with <%= chatroom.engager.name.nil? ? "Unknown Cat": chatroom.engager.name %></h2>
                    </div>
                  <% if chatroom.messages.unread_by(current_user).count > 0 %>
                      <h1>unread messages: <%= chatroom.messages.unread_by(current_user).count %> </h1>
                  <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="chats">
          <% unless @pending_incoming_chats.empty? %>
            <p class="chats-paragraph">New!</p>
            <% @pending_incoming_chats.each do |chatroom|%>
              <div class="card-product my-2">
                <%= link_to user_path(chatroom.engager) do %>
                  <% if chatroom.engager.avatar.key.present? %>
                    <%= cl_image_tag chatroom.engager.avatar.key, alt: 'Avatar', class: 'avatar_pic', height: 160, width: 160, crop: :fill %>
                  <% else %>
                    <%= image_tag("no-pic-cat.png", height: 160, width: 160, crop: :fill ) %>
                  <% end %>
                <% end %>
                <div class="card-product-infos">
                  <h2><%= chatroom.engager.name = "" ? "Unknown Cat": chatroom.engager.name %> wants to chat</h2>
                </div>
                <%= link_to "Accept", accept_chatroom_path(chatroom), class: "btn btn-a" %>
                <%= link_to "Decline", chatroom_path(chatroom), class: "btn btn-d", data: { method: :delete } %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="chats c-pending">
          <% unless @pending_sent_chats.empty? %>
            <p class="chats-paragraph" >Pending</p>

            <% @pending_sent_chats.each do |chatroom|%>
              <div class="card-product pending-info my-2">
                <%= link_to user_path(chatroom.receiver) do %>
                  <% if chatroom.receiver.avatar.key.present? %>
                    <%= cl_image_tag chatroom.receiver.avatar.key, alt: 'Avatar', class: 'avatar_pic', height: 160, width: 160, crop: :fill %>
                  <% else %>
                    <%= image_tag("no-pic-cat.png", height: 160, width: 160, crop: :fill ) %>
                  <% end %>
                <% end %>
                <div class="card-product-infos d-flex">
                  <%= link_to chatroom_path(chatroom), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="fas fa-times-circle"></i>
                  <% end %>
                  <h2>your chat with <%= chatroom.receiver.name.empty? ? "Unknown Cat" : chatroom.receiver.name %> is still <strong>PENDING</strong></h2>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="chats-bottom">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>

      <%= link_to users_path do %>
        <i class="fa fa-search"></i>
      <% end %>

      <%= link_to edit_user_registration_path do %>
        <i class="fas fa-paw"></i>
      <% end %>
    </div>
  </div>
</div>
