<div class="p-3 msgs-container">
  <div class="container">
    <% if @approved_chats.empty? && @pending_incoming_chats.empty? && @pending_sent_chats.empty?%>
      <h1 class="chats-header">You don't have any match yet...</h1>
      <%= link_to "Meet new friends!", users_path %>
    <% else %>
      <h1 class="chats-header">It's a match!</h1>
      <div class="msgs-index">
        <div class="chats">
          <% unless @approved_chats.empty? %>
            <p class="chats-paragraph">Chats</p>
            <% @approved_chats.each do |chatroom|%>
                <% if current_user.id == chatroom.engager_id %>
                  <%= link_to chatroom_path(chatroom) do %>
                    <div class="card-product my-2">
                      <% if chatroom.receiver.avatar.key.present? %>
                        <%= cl_image_tag chatroom.receiver.avatar.key, alt: 'Avatar', class: 'avatar_pic', height: 160, width: 160, crop: :fill %>
                      <% else %>
                        <%= image_tag("no-pic-cat.png", height: 160, width: 160, crop: :fill ) %>
                      <% end %>
                      <div class="card-product-infos">
                        <h2>Have a chat with <%= chatroom.receiver.name = "" ? "Unknown Cat": chatroom.receiver.name %> </h2>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to chatroom_path(chatroom) do %>
                    <div class="card-product m-2">
                      <% if chatroom.engager.avatar.key.present? %>
                        <%= cl_image_tag chatroom.engager.avatar.key, alt: 'Avatar', class: 'avatar_pic', height: 160, width: 160, crop: :fill %>
                      <% else %>
                        <%= image_tag("no-pic-cat.png", height: 160, width: 160, crop: :fill ) %>
                      <% end %>
                      <div class="card-product-infos">
                        <h2>Have a chat with <%= chatroom.engager.name = "" ? "Unknown Cat": chatroom.engager.name %></h2>
                      </div>
                    </div>
                  <% end %>
                <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="chats">
          <% unless @pending_incoming_chats.empty? %>
            <p class="chats-paragraph">New!</p>
            <% @pending_incoming_chats.each do |chatroom|%>
              <div class="card-product my-2">
                <%= link_to user_path(chatroom.engager) do %>
                  <% if chatroom.engager.avatar.key.present? %>
                    <%= cl_image_tag chatroom.engager.avatar.key, alt: 'Avatar', class: 'avatar_pic', height: 160, width: 160, crop: :fill %>
                  <% else %>
                    <%= image_tag("no-pic-cat.png", height: 160, width: 160, crop: :fill ) %>
                  <% end %>
                <% end %>
                <div class="card-product-infos">
                  <h2><%= chatroom.engager.name = "" ? "Unknown Cat": chatroom.engager.name %> wants to chat</h2>
                </div>
                <%= link_to "Accept", accept_chatroom_path(chatroom), class: "btn btn-a" %>
                <%= link_to "Decline", chatroom_path(chatroom), class: "btn btn-d", data: { method: :delete } %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="chats">
          <% unless @pending_sent_chats.empty? %>
            <p class="chats-paragraph" >Pending</p>

            <% @pending_sent_chats.each do |chatroom|%>
              <div class="card-product my-2">
                <%= link_to user_path(chatroom.receiver) do %>
                  <% if chatroom.receiver.avatar.key.present? %>
                    <%= cl_image_tag chatroom.receiver.avatar.key, alt: 'Avatar', class: 'avatar_pic', height: 160, width: 160, crop: :fill %>
                  <% else %>
                    <%= image_tag("no-pic-cat.png", height: 160, width: 160, crop: :fill ) %>
                  <% end %>
                <% end %>
                <div class="card-product-infos">
                  <h2>your chat with <%= chatroom.receiver.name = "" ? "Unknown Cat" : chatroom.receiver.name %> is still PENDING</h2>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="chats-bottom">
        <%= link_to root_path do %>
          <i class="fas fa-home"></i>
        <% end %>

        <%= link_to chatrooms_path do %>
          <i class="fas fa-envelope"></i>
        <% end %>

        <%= link_to user_path(current_user) do %>
          <i class="fas fa-paw"></i>
        <% end %>
      </div>
  </div>
</div>
