<div class="container py-5 msg-show">
  <% if current_user.id == @chatroom.engager_id %>
    <% other_user = User.find(@chatroom.receiver_id) %>
  <% else %>
    <% other_user = User.find(@chatroom.engager_id) %>
  <% end %>
  <div class="chat-header1">
    <% if other_user.avatar.key.present? %>
      <%= cl_image_tag other_user.avatar.key, alt: 'Avatar', class: 'avatar_pic', height: 160, width: 160, crop: :fill %>
    <% else %>
      <%= image_tag("no-pic-cat.png", height: 160, width: 160, crop: :fill ) %>
    <% end %>
    <h1 class="chats-header">Your chat with <%= other_user.name ? other_user.name : "Unknown Cat" %></h1>
  </div>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <div class="fixed-bottom">
    <%= simple_form_for [@chatroom, @message ], remote: true, html: { class: "sbt-msg"} do |f| %>
      <%= f.input :content, label: false, placeholder: "type a message", :input_html => { :class => 'msg-input' } %>
      <%= f.button :submit, "send", class: "msg-submit" %>
    <% end %>
  </div>
</div>
