<% if current_user.id == @chatroom.engager_id %>
  <% other_user = User.find(@chatroom.receiver_id) %>
<% else %>
  <% other_user = User.find(@chatroom.engager_id) %>
<% end %>
<h1>Begin your conversation with <%= other_user.name ? other_user.name : "Unknown Cat" %></h1>
<div id="messages" data-chatroom-id="<%= @chatroom.engager_id %>">
  <% @chatroom.messages.each do |message| %>
  <%= render "messages/message", message: message %>

  <% end %>
</div>

<%= simple_form_for [@chatroom, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.id}" %>
  <%= f.submit %>
<% end %>
