<div class="cats-index px-5">
  <div class="user-cards">
    <% @users.each do |user| %>
      <%= link_to user_path(user), class:"link-card" do %>
        <div class="card mb-2">
          <div class="card-block p-3">
            <div class="users-photo">
              <% if user.avatar.key.present? %>
                <%= cl_image_tag user.avatar.key, class:"index-image", crop: :fill, gravity: 'auto' %>
              <% else %>
              <%= image_tag("no-photo.jpg", class:"index-image") %>
              <% end %>
            </div>
            <% if user.name.present? %>
              <strong><p class="card-title"><%= user.name %></p></strong>
            <% else %>
              <strong><p class="card-title">Unknown Cat</p></strong>
            <% end %>
            <div class="d-flex index-card-info">
              <p><i class="fas fa-map-pin"></i> <%= user.location.present? ? user.location : "Planet Earth" %></p>
              <% if user.gender.present? %>
                <% if user.gender == 'male' %>
                  <p><i class="fas fa-mars"></i></p>
                <% else %>
                  <p><i class="fas fa-venus"></i></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="chats-bottom">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>

    <%= link_to chatrooms_path do %>
      <i class="fas fa-envelope"></i>
    <% end %>

    <%= link_to edit_user_registration_path do %>
      <i class="fas fa-paw"></i>
    <% end %>
  </div>
</div>
