<div class="index_container">
  <% if @users.any? %>
    <div class="avatar_list">
      <% @users.each do |user| %>
        <div class="avatar_row d-flex align-items-center">
          <div class="list_row">
            <%= link_to user_path(user) do %>
              <% if user.avatar.key.present? %>
                  <%= cl_image_tag user.avatar.key, crop: :fill, class: "avatar_pic found_match",  height: 160, width: 160 %>
              <% else %>
                <%= image_tag("no-pic-cat.png", height: 160, width: 160, crop: :fill , class: "avatar_pic") %>
              <% end %>
            <% end %>
          </div>
          <div class="avatar_text">
            <h4><%= user.name %></h4>
            <span><%= user.description %></span>
          </div>
        </div>
        <hr class="index_list">
      <% end %>
    </div>
    <% else %>
    <div class="cats_search">
      <div class="no_cats_found">
        <h3>No cats were found</h3>
      </div>
      <%= image_tag("cat.jpg", class: "cat-banner", style: 'width:100%') %>
    </div>
  <% end %>
<div>
