<div class="bg-white">
  <div class="bg">
    <% if user_signed_in? %>
      <div class="centered-btn"><%= link_to "Go to Profile", edit_user_registration_path, class: "btn bg-white centered-btn rounded-pill" %></div>
    <% else %>
      <div class="centered-btn"><%= link_to "Create Account", new_user_registration_path, class: "btn bg-white centered-btn rounded-pill" %></div>
    <% end %>
  </div>
  <div class="off-bits">
    <div class="d-flex bits">
      <div class="info-bits card text-center">
        <%= image_tag "couple.png", class:"card-img-top" %>
        <div class="card-body">
          <p class="card-text">Find a loving partner for your cat</p>
        </div>
      </div>
      <div class="info-bits card text-center">
        <%= image_tag "profile.png", class:"card-img-top" %>
        <div class="card-body">
          <p class="card-text">Detailed profiles</p>
        </div>
      </div>
      <div class="info-bits card text-center">
        <%= image_tag "filters.png", class:"card-img-top" %>
        <div class="card-body">
          <p class="card-text">Search by breed, gender and geolocation</p>
        </div>
      </div>
    </div>
  </div>
  <section id="banner" class="container">
    <div class="purrfect-container">
      <div class="col-sm cntr d-flex flex-column">
        <h2 id="purrfect-txt"><span id="banner-typed-text"></span></h2>
        <%= link_to "Let's Begin!", new_user_registration_path, class: "btn-beg"  %>
      </div>
      <div class="col-sm">
        <%= image_tag "cat-love3.png", width: 350 %>
      </div>
    </div>
  </section>
  <div class="team-container">
    <div class="container">
      <h3 CLASS="text-center mt-5">Meet our purrfect team!</h3>
      <div class="team">
        <div class="person">
          <%= image_tag "Onur.jpeg" %>
          <h4>Onur</h4>
          <p>CEO & Full-stack developer</p>
          <p>Cat dad</p>
          <div class="d-flex justify-content-center">
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/onurkaradeniz1"><i class="fab fa-github"></i></a>
          </div>
        </div>
        <div class="person">
          <%= image_tag "Marianna.jpeg" %>
          <h4>Marianna</h4>
          <p>Full-stack developer</p>
          <p>Cat mom</p>
          <div class="d-flex justify-content-center">
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/msafuler"><i class="fab fa-github"></i></a>
          </div>
        </div>
        <div class="person">
          <%= image_tag "George.jpg" %>
          <h4>George</h4>
          <p>Full-stack developer</p>
          <p>Cat lover</p>
          <div class="d-flex justify-content-center">
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/george-gowers"><i class="fab fa-github"></i></a>
          </div>
        </div>
        <div class="person">
          <%= image_tag "Paula.jpg" %>
          <h4>Paula</h4>
          <p>Full-stack developer</p>
          <p>Cat lover</p>
          <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/paula-garcia-llopis"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/PauGLl"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-container m-5">
    <div class="contact-clean">
      <form action="https://formcarry.com/s/wnHunL6STDg" method="POST" accept-charset="UTF-8" >
        <h2 class="text-center mt-3">Contact us</h2>
        <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
        <div class="form-group">
          <textarea class="form-control" name="message" placeholder="Message" rows="5"></textarea>
        </div>
        <div class="form-group"><button class="btn submit_button w-50" type="submit">Submit</button></div>
        <input type="hidden" name="_gotcha">
      </form>
    </div>
  </div>
</div>
